.display-wrapper {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 0 5%;
}

.header-wrapper h1 {
    font-size: 32px;
    font-weight: 700;
}

.header-wrapper {
    display: flex;
    text-align: center;
    margin-top: 25%;
}

.subheader-wrapper span {
    font-weight: bold;
    font-size: 16px;
}

.calculations-wrapper {
    margin-top: 18%;
}

.calculations-wrapper h1 {
    font-weight: bold;
}

.calculations-wrapper p {
    font-size: 28px;
    color: #457cff;
}