.roi-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.roi-wrapper span {
    font-size: 30px;
    font-weight: 700;
}

.row-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

